<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {{title}} </title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src = "../static/js/base.js"></script>
</head>
<body>

<header>
<div id="sidebar" role="navigation">
	<img id = "logo" src = "../static/img/logo.jpg">
    <div id="sidebar-nav">
            <ul class="nav nav-stacked">
										<li><a href="../index"> HOMEPAGE</a></li>
                    <li><a href="http://stackoverflow.com/"> ABOUT US</a></li>
										<li><a href="http://stackoverflow.com/"> HELP</a></li>
                    <li><a href="http://stackoverflow.com/"> CONTACTS</a></li>
            </ul>
    </div>
		<a class = "socialicon"  href="https://plus.google.com/u/1/102008562030379446121/posts"><i class="fa fa-google-plus fa-lg"></i></a>
		<a class = "socialicon" href="https://www.facebook.com/vivienne.ji.9"><i class="fa fa-facebook fa-lg "></i></a>
		<a class = "socialicon" href="https://instagram.com/zherzher1992/"><i class="fa fa-instagram fa-lg"></i></a>
		<a class = "socialicon" href="https://www.linkedin.com/profile/view?id=AAIAABGpTxIBuzbOv72Yslp24WNdqVVbkyDCkzo&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-lg"></i></a>
		<div id = "contact">
		<p>1586 Murfin Ave, Ann Arbor, MI</p>
		<p>Phone: (734)834-8250, (734)834-7901</p>
		<p>Email: xiaofji@umich.com, siyuchen@umich.com</p>
	</div>
		<p id = "copyright">Copyright &copy; Xiaofan Ji and Siyu Chen. All rights reserved.</p>
<!-- Sidebar End -->
</div>
	    <a class="navbar-brand" href="./index.html"></a>
	  </div>
			<div id = "logsign">
				{% if current_user.is_authenticated %}
					Hi
					{{current_user.username}}
					welcome back!
					<a href="/personalpage">My home page</a>
					<form class="form-logout" role="form" method="post" action="" id = "logout">

					<button class="btn btn-sm btn-success" type="submit" name="submit" value="logout"><i class="fa fa-sign-out"></i> logout</button>
					</form>
					{% else %}
					<form class="form-signin" role="form" method="post" action="" id = "login">
						{{ form.csrf_token }}

							{{ form.username(placeholder="username") }}
							<span class="error">
								{% if form.username.errors %}
									{% for error in form.username.errors %}
										{{ error }}
									{% endfor %}
								{% endif %}
							</span>


						{{ form.password(placeholder="password") }}
							<span class="error">
								{% if form.password.errors %}
									{% for error in form.password.errors %}
										{{ error }}
									{% endfor %}
								{% endif %}
							</span>

						<button class="btn btn-sm btn-success" type="submit" name="submit" value="login"><i class="fa fa-sign-in"></i> Sign in</button>
						<button class="btn btn-sm btn-success" type="submit" name="submit" value="signup"><i class="fa fa-user-plus"></i> Sign up</button>


					</form>

					{% endif %}

	</header>

	<div class="container">

		<!-- child template -->

		<!-- errors -->
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}

		<!-- messages -->
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
	</div>

	{%block content%}
	your content
	{%endblock%}

<footer>
</footer>
</body>
</html>
