<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {{title}} </title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src = "../static/js/base.js"></script>
</head>
<body>

<header>
	<div id = "logsign">
		{% if current_user.is_authenticated %}
		<p>
			welcome
			{{current_user.username}}
			<form class="form-logout" role="form" method="post" action="" id = "logout">

			<button class="btn btn-sm btn-success" type="submit" name="submit" value="logout">logout</button>
			</form>
			<a href="/personalpage">My home page</a>
		</p>

			{% else %}
			<form class="form-signin" role="form" method="post" action="" id = "login">
				{{ form.csrf_token }}
				<p>
					{{ form.username(placeholder="username") }}
					<span class="error">
						{% if form.username.errors %}
							{% for error in form.username.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</span>
				</p>
				<p>
				{{ form.password(placeholder="password") }}
					<span class="error">
						{% if form.password.errors %}
							{% for error in form.password.errors %}
								{{ error }}
							{% endfor %}
						{% endif %}
					</span>
				</p>
				<button class="btn btn-sm btn-success" type="submit" name="submit" value="login">Sign in</button>
				<button class="btn btn-sm btn-success" type="submit" name="submit" value="signup">Sign up</button>


			</form>

			{% endif %}

		</div>

		<br>
		 <h2 id = "title">Chinese Cooking Alchemy</h2>
		 <h4 id = "subtitle">The best way to learn about Chinese dishes.</h4>
	</header>

	<div class="container">

		<!-- child template -->

		<!-- errors -->
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}

		<!-- messages -->
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
	</div>

	{%block content%}
	your content
	{%endblock%}

<footer>
	<div class = "footercontant">
				<form class = "message" action="xiaofji@umich.edu" method="post" enctype="text/plain">
					<h4 class = "messaget">Drop me a message here</h4>
					<table>
						<tr>
							<td><div>Name:</div></td>
							<td><input type="text" name="name" size="20"></td>
							<td><input type="submit" name="submit" value="Submit"></td>
						</tr>
						<tr>
							<td><div>Email:</div></td>
							<td><input type="text" name="email" size="20"></td>
							<td><input type="reset" name="reset" value="Reset"></td>
						</tr>
						<tr>
							<td><div>Message:</div></td>
							<td><textarea name="Message" cols="25" wrap="hard" rows="2"></textarea></td>
						</tr>
					</table>
				</form>

      	<ul class="nav nav-stacked pull-right">
					<li><a href="https://plus.google.com/u/1/102008562030379446121/posts"><i class="fa fa-google-plus fa-lg fa-inverse"></i></a></li>
					<li><a href="https://www.facebook.com/vivienne.ji.9"><i class="fa fa-facebook fa-lg fa-inverse"></i></a></li>
					<li><a href="https://instagram.com/zherzher1992/"><i class="fa fa-instagram fa-lg fa-inverse"></i></a></li>
					<li><a href="https://www.linkedin.com/profile/view?id=AAIAABGpTxIBuzbOv72Yslp24WNdqVVbkyDCkzo&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-lg fa-inverse"></i></a></li>
      	</ul>
	</div>
	<div class = "copyright text-center">
		<p>Copyright &copy; Xiaofan Ji. All rights reserved.</p>
	</div>
</footer>
</body>
</html>
