#login{
  display: inline-block;
}

#logsign{
  float: right;
  margin-top: 1%;
}
header{
  background-image: url(../img/header.jpg);
  background-size: cover;
}
.content{
  width: 90%;
  margin: 0 auto;
  max-width: 950px;
  min-width: 750px;
}
#viewer{
  position: relative;

}

#viewer #displayimg{
  width: 100%;
  filter: blur(90px);

}

#thum{
  background:rgba(255,255,255,0.5);
  position:absolute;
  top:10px;
  left:10px;
  padding: 0;
}
#choice{

  position:absolute;
  border-radius: 30px;
  padding: 10px;
  right: 10px;
  bottom: 10px;
}

#thum li,#choice li{
  list-style-type: none;
  list-style-position: outside;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#choice li{
  background: rgba(255,255,255,0.8);
  border-radius: 30px;
  padding:5px;
}
#choice a{
  font-size: 20px;
  padding: 0;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#eight{
  background:rgba(0,0,0,0.2);
}
