body{
  background-color:rgb(238, 229, 195);
}
#title{
  font-family: "Arial Black", Gadget, sans-serif;
  padding-top: 20px;
  padding-left: 20px;

}
#subtitle{
  font-family: "Arial Black", Gadget, sans-serif;
  padding-left: 20px;

}

#displayimg, #cook, #commingsoon{
  width:100%;
}
#logsign{
  float: right;
  margin-top: 24px;
  margin-right: 10px;
  margin-bottom: 24px;
}

.content{
  margin-left: 200px;
  position: relative;
  min-width: 750px;
}


#thum{
  background:rgba(255,255,255,0.5);
  position:absolute;
  top:10px;
  left:10px;
  padding: 0;
}
#introduction{
  padding: 10px;
  position:absolute;
  top: 10px;
  right: 10px;
  width: 400px;
  background:rgba(255,255,255,0.5);
}

#short{
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}
#long{
  font-size: 15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#loginplease{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
#thum li{
  list-style-type: none;
  list-style-position: outside;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
}
#eight{
  background:rgba(36, 110, 166,0.5);
}

p.speech{
  position: absolute;
  top:20px;
  left:33%;
	width: 200px;
	height: 100px;
	text-align: center;
  padding-top: 10px;
	background-color: #fff;
	border: 2px solid #666;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #888;
}
p.speech:before{
  position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	left: 18px;
	top: 98px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}
#prestep{
  position: absolute;
  bottom:10px;
  left: 10px;
}
#repeat{
  position: absolute;
  bottom:10px;
  left: 50%;
}
#nextstep{
  position: absolute;
  bottom:10px;
  right: 10px;
}

#material{
  height:150px;
  width:auto;
  position: absolute;
  top:20px;
  right: 20px;
}

#dropbox{
  padding: 40px;
  position: absolute;
  text-align: center;
  left:26%;
  bottom:0%;
  font-family: "Arial Black", Gadget, sans-serif;
  width: 15%;
  height:25%;
}

#addbutton{
  position: absolute;
  top:75px;
  left:35%;
}

#logout{
  display: inline;
}
#sidebar {
width:200px;
background-color: #16a085;
color: white;
height: 100%;
padding: 0;
position: fixed;
left: 0;
top: 0;
z-index: 2;

}

#sidebar-nav {
margin-top: 23px;
margin-left: 10px;
margin-bottom: 23px;
z-index: -1;

}

#sidebar-nav a{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(238, 229, 195);
  text-align: right;
  margin-right: 20px;
}

#logo{
  padding: 18px;
}

.socialicon{
  padding-left: 22px;
  color: rgb(238, 229, 195);
}

#contact{
  margin-top: 20px;
  padding: 15px;
  border-top: dashed;
  border-bottom: dashed;
  z-index: 0;
}

#copyright{
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

<<<<<<< HEAD
.welcome{
  display: inline;
}

footer{
  margin-left: 200px;
=======

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
}


span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 50%;
  text-transform: capitalize;
}

span.text-content p {
  font-size: x-large;
  font-weight: bold;
}

span.text-content p.clickToLearn {
  font-size: small;
  font-weight: normal;
  font-style: italic;

>>>>>>> master
}
