{% extends "base.html"%}
{% block content %}
<div class = "content">
	<div class = "welcome">
		<div id = "viewer">
		<img id = "displayimg" src="static/img/eightcai.jpg" alt="eightcu">
    <ul id = "thum">
			<li class = "dish" id = "eight" onmouseover="changeimage(this.id)" >Regional Cuisines of China </li>
			<li class = "dish" id = "yue" onmouseover="changeimage(this.id)" >Sliced ​​cold chicken </li>
			<li class = "dish" id = "chuan" onmouseover="changeimage(this.id)" >Sichuan fish</li>
			<li class = "dish" id = "su" onmouseover="changeimage(this.id)" >Bitter shrimp ball</li>
			<li class = "dish" id = "zhe" onmouseover="changeimage(this.id)" >Crystal Shrimp</li>
			<li class = "dish" id = "min" onmouseover="changeimage(this.id)" >Buddha Jumps over the wall</li>
			<li class = "dish" id = "xiang" onmouseover="changeimage(this.id)" >Steamed preserved hams</li>
			<li class = "dish" id = "hui" onmouseover="changeimage(this.id)" >Phoenix peony stew</li>
			<li class = "dish" id = "lu" onmouseover="changeimage(this.id)" >Jellyfish with vinegar</li>
		</ul>
		<ul id = "choice">
			<li  id = "learnmore"><a>Learn more about it</a> </li>
			<li  id = "recipe" ><a> How to cook? </a></li>
		</ul>

		<h1 id = "cuisine"></h1>
	</div>
  </div>
</div>
{% endblock %}
