{% extends "base.html"%}
{% block content %}
<div class = "content">
		<img id = "displayimg" class = "img-rounded" src="static/img/eightcai.jpg" alt="eightcu">
    <ul id = "thum">
			<li class = "dish" id = "eight" onmouseover="changeimage(this.id)" >Regional Cuisines of China </li>
			<li class = "dish" id = "yue" onmouseover="changeimage(this.id)" >Sliced ​​cold chicken </li>
			<li class = "dish" id = "chuan" onmouseover="changeimage(this.id)" >Sichuan fish</li>
			<li class = "dish" id = "su" onmouseover="changeimage(this.id)" >Bitter shrimp ball</li>
			<li class = "dish" id = "zhe" onmouseover="changeimage(this.id)" >Crystal Shrimp</li>
			<li class = "dish" id = "min" onmouseover="changeimage(this.id)" >Buddha Jumps over the wall</li>
			<li class = "dish" id = "xiang" onmouseover="changeimage(this.id)" >Steamed preserved hams</li>
			<li class = "dish" id = "hui" onmouseover="changeimage(this.id)" >Phoenix peony stew</li>
			<li class = "dish" id = "lu" onmouseover="changeimage(this.id)" >Jellyfish with vinegar</li>
		</ul>
		<div id = "introduction">
			<p id = "short">八大菜系---Eight best culinary traditions</p>
			<p id = "long">Sichuan and Hunan cuisines: hot spice. Anhui and Fujian cuisines: inclusion of wild foods from their mountains. Guangdong (Cantonese), Fujian, Zhejiang, Jiangsu: great seafood, and generally sweet and light flavors. Shandong Cuisine: fresh and salty with a lot of seafood dishes.</p>
			<p id = "loginplease">
				{% if current_user.is_authenticated %}
					<a href="/cook">Learn how to cook.</a>
				{% else %}
					<a href = "/login">log in</a> to learn how to cook.
				{% endif %}
			</p>
		</div>
</div>
{% endblock %}
