{% extends "base.html" %}
{% block content %}


<h3>Recipes Learnt:</h3>
{% for recipe in recipes %}
  <strong>recipe:</strong> {{ recipe.recipename }} <br>
<br>
{% endfor %}

{% for user in users %}
  <strong>recipe:</strong> {{ user.recipes.recipename }} <br>
<br>
{% endfor %}
<form class="form-addrecipe" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.recipename(placeholder="recipename") }}
  </p>

  <button class="btn btn-sm btn-success" type="submit">add recipe</button>
</form>

<a href="/"> Go back to home page</a>

{% endblock %}
