{% extends "base.html"%}
{% block content %}
<script src = "../static/js/cooking.js"></script>
<script>

var materials =  {{ ingres|tojson }};
var materialsurl = {{ ingresurl|tojson }};
var steps1 = {{ instruction|tojson }};

</script>


<div class = "content" id = "cookpage" >
    <img  id = "cook" class = "img-rounded" src="../static/img/cookbackground.jpg" alt="kitchen">
    <p id="speech" class = "speech">Hello! Welcome to my kitchen.</p>
    <i  id = "nextstep" class="fa fa-forward fa-5x"></i>
    <i id = "repeat" class="fa fa-repeat fa-5x"></i>
    <i  id = "prestep" class="nothing"></i>
    <p id="dropbox"></p>
    <form id = "addbutton" class="hidden form-addrecipe" role="form" method="post" action="">
      <button class="btn btn-sm btn-success" type="submit" name="submit" value = {{ LearningRecipeName }}> Add to my recipe </button>
    </form>
</div>

{% endblock %}
